<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Assessment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-label>{{loadedAssessment.q2}}</ion-label>
  <ion-label>{{loadedAssessment.q2}}</ion-label>
  <ion-label>{{loadedAssessment.q3}}</ion-label>
  <ion-label>{{loadedAssessment.q4}}</ion-label>
  <ion-label>{{loadedAssessment.q5}}</ion-label>
  <ion-label>{{loadedAssessment.q6}}</ion-label>
  <ion-label>{{loadedAssessment.q7}}</ion-label>
  <ion-label>{{loadedAssessment.q8}}</ion-label>
  <ion-label>{{loadedAssessment.q9}}</ion-label>
  <ion-label>{{loadedAssessment.q10}}</ion-label>
  <ion-label>{{loadedAssessment.q11}}</ion-label>
  <ion-label>{{loadedAssessment.q12}}</ion-label>

  <ion-label>hi</ion-label>

</ion-content>
