<ion-content fullscreen>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-label>
          pic here
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Hi there!</ion-label>
        <ion-label>How are you feeling today?</ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-label>Fight!</ion-label>
        <ion-label>Let's unite to defeat Covid-19!</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          pic here
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label>Take this self-assessment if you were exposed to COVID-19 (novel coronavirus) or have symptoms.</ion-label>
      <button>Start self-assessment</button>
    </ion-row>
  </ion-grid>



</ion-content>