<ion-content [scrollEvents]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-label>
          <div class="fight">
            <p style="text-align: center;">Fight! Let's unite to defeat Covid-19!</p>
          </div>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/nesa.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/bun.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row> 
      <ion-col>
        <ion-label>
          <div class="fight">
            <p style="text-align: center;">Hi there! How are you feeling today?</p>
          </div>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label class="sa">
        Take this self-assessment if you were exposed to COVID-19 (novel coronavirus) or have
        symptoms. <br>
        <button class="button" [routerLink]="['./selfassessment']">Start self-assessment</button>

      </ion-label>
    </ion-row>
  </ion-grid>



</ion-content>