<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>display</ion-label>
  <ion-item-sliding *ngFor="let aq of AssessmentQuestionModel" button >

    <ion-item>
       <ion-label>{{aq.q1}}</ion-label>
    <ion-label>{{aq.dateTaken}}</ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="deleteTask(task)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
